**/syntaxhighlighter
test/**/widgets
test/**/lib
test/**/backbone
test/**/grammar
test/**/underscore
**/_generated
test/lib
test/specs
test/projects
jake/lib
locales/
docs/
**/jasmine.js
**/lib/colors.js
**/underscore.js
**/backbone.js
Alloy/grammar
Alloy/builtins/social.js
Alloy/builtins/moment
Alloy/builtins/moment.js
Alloy/template
dangerfile.js
